body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}

.buttonMargin {
	margin-left:1.5cm;
}

.equityMargin {
  padding-top: 0.5cm;
	margin-left:1.5cm;
  width: 99cm;
  clear:both;
}

.underlier {
	width: 150px; 
	height: 120px;
  float: left;
}

.optionBlock {
  width:75%; 
  height:60px; 
  float:left;
  margin-left:10px;
}

.optionButton {
  width: 60px;
  height: 60px;
  margin-left: 2px;
  text-align:center;
  float:left;
  white-space: normal;
}

#chart1 svg {
  height: 500px;
  margin: 10px;
  min-width: 100px;
  min-height: 100px;
  margin-bottom: 15px;
}